<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>Ticketac</title>
  </head>
  <body>
    <div>
      <!-- DIV Navbar -->
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <!-- 1. Logo -->
          <a class="navbar-brand" href="/"
            ><img
              class="ticketac_logo"
              src="../images/logo.png"
              alt="Ticketac Home"
          /></a>

          <!-- 2. Les Links -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <!-- Bouton "Home" -->
              <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
              </li>
              <!-- Bouton "My Journeys" -->
              <li class="nav-item">
                <a class="nav-link" href="/my-journeys">My Journeys</a>
              </li>
            </ul>
          </div>

          <!-- 3. Bouton "Sign Up" -->
          <div>
            <a href="/logout"
              ><button
                id="navbar_signup_btn"
                class="btn btn-outline-success"
                type="submit"
              >
                Logout
              </button></a
            >
          </div>
        </div>
      </nav>
    </div>
  </body>
</html>
