<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
    <script src="https://kit.fontawesome.com/61dc9a4f27.js" crossorigin="anonymous"></script>
    <title>Ticketac</title>
  </head>
  <body>    

    <%- include('header'); %>

    <!-- Image de fond -->
      <div class="div-bg-img">
        <img class="bg-img" src="/images/bg_img.jpg" alt="image paysage">
      </div>

      <div class="container-search-bar">
        <div class="search-bar">
            <h2>Where are you going ?</h1>
            <form class="form-inline" action="/search" method="POST">
            <!-- INPUT departure -->
            <input type="text" name ="departure" class="input-home" id="" placeholder="From: Paris, Marseille...">
            <!-- INPUT arrival -->
            <input type="text" name="arrival" class="input-home" id="" placeholder="To: Lille, Nantes...">
            <!-- INPUT date -->
            <input type="date" name="date" class="date input-home" value="2018-11-20" max="2025-12-31">
            <!-- BUTTON search -->
            <button type="submit" class="search-home-btn" ><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        </div>
      </div>

  </body>
</html>
