<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ticketac</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>    
    <%- include('header'); %>

    <h1>One-way ticket</h1>
  
    <form class="form-inline" action="/search" method="POST">
      <!-- <div class="form-group"> -->
        <input type="text" class="form-control input-lg" id="exampleInputEmail2" placeholder="From: Paris,Marseille...">
      <!-- </div> -->
      <!-- <div class="form-group"> -->
        <input type="text" class="form-control input-lg" id="exampleInputPassword2" placeholder="To: Lille,Nantes...">
        <!-- </div> -->
        <input type="date" id="start" name="trip-start"
              value="2018-07-22"
              min="2018-01-01" max="2018-12-31">
      <!-- <a href="" class="btn btn-danger">Go</a> -->
      <!-- <input type="submit" class="btn btn-lg btn-default" value="Go"></input> -->
      <button type="submit" class="btn btn-lg btn-default" >Go</button>


    </form>


















    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
