<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ticketac</title>
  </head>
  <body>
    
    <%- include('header'); %>

    <!-- Image de fond -->
    <div class="div-bg-img">
      <img class="bg-img" src="/images/bg_img.jpg" alt="image paysage">
    </div>


      <!-- MODIFICATION A PARTIR D'ICI   -->

      <div class="sign-block">
          <!-- SIGN IN AREA -->
          <div class="left">
              <h4 class="titleForm">Sign In</h4>
              <form action="/users/sign-in" method="POST">
                  <!-- INPUT email -->
                  <div class="form-group">
                  <input name="email" type="email" class="form-control" aria-describedby="emailHelp"
                  placeholder="Email">
                  </div>
                  <!-- INPUT password -->
                  <div class="form-group">
                  <input name="password" type="password" class="form-control" placeholder="Password">
                  </div>
                  <!-- BUTTON Login -->
              <button type="submit" class="btn btn-info">Log In</button>
              </form>
          </div>

          <!-- SIGN UP AREA -->
          <div class="right">
              <h4 class="titleForm">Sign Up</h4>
              <form action="/users/sign-up" , method="POST">
                  <!-- INPUT firstname -->
                  <div class="form-group">
                  <input name="name" type="text" class="form-control" placeholder="Firstname">
                  </div>
                  <!-- INPUT lastname -->
                  <div class="form-group">
                  <input name="firstname" type="text" class="form-control" placeholder="Lastname">
                  </div>
                  <!-- INPUT email -->
                  <div class="form-group">
                  <input name="email" type="email" class="form-control" placeholder="Email">
                  </div>
                  <!-- INPUT password -->
                  <div class="form-group">
                  <input name="password" type="password" class="form-control" placeholder="Password">
                  </div>
              <button type="submit" class="btn btn-info">Sign Up</button>
              </form>
          </div>
      </div>

  </body>
</html>
