body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.ticketac_logo {
  width: 60px;
}

.navbar {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  height: 50px;
}

#navbar_signup_btn {
  text-align: end;
  background:#c49659;
  border-radius:20px;
  font-size:inherit;
  color:#fff;
  box-shadow:none;
  border:none;
  text-shadow:none;
  padding:.5rem .8rem;
  transition:background-color 0.25s;
}

.nav-link {
  color:black; 
}

.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  max-width: 100%;
}

.div-bg-img {
  position: relative;
}

.sign-block{
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  z-index: 1000;
  margin-top: -150px;
  width: 100%;
}

.left {
  background-color: white;
  box-shadow: 0px 3px 5px #dfdfdf;
  text-align: center;
  padding: 20px;
  border-radius: 3%;
  margin-left: 40%;
  height: 100%;
  width: 50%;
}

.right {
  background-color: white;
  box-shadow: 0px 3px 5px #dfdfdf;
  text-align: center;
  padding: 20px;
  border-radius: 3%;
  margin-right: 40%;
  width: 50%;
}

.container-search-bar {
  display: grid;
  grid-template-columns: 1fr;
  position: absolute;
  z-index: 1;
  margin-top: -100px;
  width: 100%;
  justify-items: center;
  align-items: center;
}

.search-bar {
  background-color: white;
  height: 200px;
  border-radius: 1.5%;
  box-shadow: 0px 3px 5px #dfdfdf;
  width: 50%;
  text-align: center;
}

form {
  justify-content: center;
}

h2 {
  padding: 25px;
}

.input-home {
  border-radius:20px;
  border: 1px solid #e1e1e1;
  padding: 10px;
  margin: 2px;
}

.search-home-btn {
  border-radius: 100%;
  padding: 10px 14px 10px 14px;
  text-align: end;
  background:#c49659;
  border: none;
  color:#fff;
  margin-left: 2px;
}

body#no-train-page, #trainlist-page {
  background-color: #f9f9f9
}

.notrain-div {
  background: white;
  margin: auto;
  margin-top: 50px;
  width: 50%;
  border-radius: 1.5%;
  box-shadow: 0px 3px 5px #dfdfdf;
  text-align: center;
  padding: 20px;
  font-size: 20px;
}

.retry-btn {
  border-radius: 20px;
  padding: 10px 14px 10px 14px;
  text-align: end;
  background:#c49659;
  border: none;
  color:#fff;
  margin-left: 2px;
}

.ul-train-list {
  padding-inline-start: 0;
}

.li-train-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: -30px;
}

.train-list-card {
  width: 70%;
  background: white;
  border-radius: 1.5%;
  box-shadow: 0px 3px 5px #dfdfdf;
  margin: 10px;
}

.infotrain-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.btn-buy {
  background: #c49659;
  color: white;
  border-radius: 14px;
  box-shadow: 0px 3px 5px #dfdfdf;
  border: none;
  padding: 10px;
}

#ticket-available-text {
  text-align: center;
  margin-top: 25px;
}